{% load static %}
{% load nav %}

<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'easy_survey/easy_survey.css' %}">

        <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

        <title>Boostrap Starter</title>
    </head>
    <body class="h-100">
        <header class="bg-dark bg-gradient text-light fixed-top py-2">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover" href="/">Boostrap Starter</a>
                    </div>
                    <div class="col-5 text-end user-select-none">
                        {% if user.is_authenticated %}
                            {% firstof user.get_short_name user.get_username %}
                            · <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover" href="{%  url 'admin:logout' %}">Logout</a>
                            {% if user.is_superuser %}
                                | <a class="link-light link-underline-opacity-0 link-underline-opacity-100-hover" href="{% url 'admin:index' %}">Admin</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>

        {% nav %}

        <div class="content container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {% if 'safe' in message.tags %} {{ message|safe }} {% else %} {{ message }} {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

        {% block footer_wrapper %}
            <footer class="footer bg-dark mt-auto fixed-bottom py-3">
              <div class="container">
                <span class="text-light">
                    {% block footer %}{% endblock %}
                </span>
              </div>
            </footer>
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>