header {
    font-size: 0.9em;
}

.content {
    padding-top: 120px;
    padding-bottom: 100px;
}

.navbar {
    margin-top: 37px;
    z-index: 900;
}

.es-survey {
    padding: 10px;
    border: 1px solid #ccc;
}